<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControlerLogin</servlet-name>
        <servlet-class>Controler.ControlerInicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlerRegistrarse</servlet-name>
        <servlet-class>Controler.ControlerRegistrarse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlerReserva</servlet-name>
        <servlet-class>Controler.ControlerReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlerCuenta</servlet-name>
        <servlet-class>Controler.ControlerCuenta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControlerLogin</servlet-name>
        <url-pattern>/ControlerLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlerRegistrarse</servlet-name>
        <url-pattern>/ControlerRegistrarse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlerReserva</servlet-name>
        <url-pattern>/ControlerReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlerCuenta</servlet-name>
        <url-pattern>/ControlerCuenta</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>ControlerLogin</welcome-file>
    </welcome-file-list>
</web-app>
